body {
  font-family: "Segoe UI", Arial, sans-serif;
}

section {
  padding: 80px 0;
}
h2 {
  font-weight: 600;
  margin-bottom: 30px;
}

/* Navbar */
.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#home {
  background: #3d0c02;
}

#projects {
  background: #3d0c02;
}

/* Cards */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Skills */
#skills {
  background: #1e1e1e;
  color: #fff;
}
.skill-card {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
}
.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
.skill-icon {
  font-size: 40px;
  color: #ff9800;
  margin-bottom: 10px;
}
.progress {
  background: #333;
  border-radius: 8px;
  height: 20px;
}
.progress-bar {
  background: linear-gradient(90deg, #ff9800, #ffb84d);
  font-weight: bold;
  color: #111;
}

/* Contact */
#contact-form input,
#contact-form textarea {
  margin-bottom: 15px;
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}
.whatsapp-icon {
  margin-top: 16px;
}
/* Responsive */
@media (max-width: 768px) {
  h1.display-4 {
    font-size: 2.2rem;
  }
}
